<h1>How to make Address links on doomlist.net work</h1>

<p>To be able to join servers directly by clicking the links in the Address column on <a href="https://doomlist.net">https://doomlist.net</a>, you need to configure your OS to associate the <code>zan://</code> URL scheme with a launcher.</p>

<p>When Zandronum version 3.2 will be released, the Windows installer will create this association automatically and no setup will be needed by the user. For now you can follow this guide to do the same manually.</p>

<p>This guide will be using <a href="https://doomseeker.drdteam.org/">Doomseeker</a> as the launcher and assumes you already have it installed.</p>

<h2>Guide for Linux:</h2>

<p>Use your favorite text editor to create a file on the following path: </p>

<p><code>$HOME/.local/share/applications/doomseeker-link-handler.desktop</code></p>

<p>The contents of the file should be as follows (replace <code>PATH_TO_DOOMSEEKER</code> with the correct path to the doomseeker executable on your system):</p>

<hr />

<pre><code>[Desktop Entry]
Type=Application
Name=Doomseeker link handler
Exec=/PATH_TO_DOOMSEEKER/doomseeker --connect %u
StartupNotify=false
MimeType=x-scheme-handler/zan;
</code></pre>

<hr />

<p>Finally run the following command:</p>

<p><code>xdg-mime default doomseeker-link-handler.desktop x-scheme-handler/zan</code></p>

<p>Now when you click a zan:// link, Doomseeker should connect you to the server.</p>

<h2>Guide for Windows:</h2>

<p>It is neccessary to edit the Windows registry to make a new URL scheme association.  You can use the linked web tool or follow the manual instructions below.</p>

<h3>Using Sean's web tool</h3>

<p><a href="https://firestick.games/zds">https://firestick.games/zds</a></p>

<p>Just run the generated .reg file as administrator and you should be set.</p>

<h3>Manual instructions</h3>

<p>The following subtree has to be created in the registry:</p>

<hr />

<pre><code>HKEY_CLASSES_ROOT
     zan
         (Default) = "URL:zandronum"
         URL Protocol = ""
         shell
             open
                 command
                     (Default) = "PATH_TO_DOOMSEEKER\doomseeker.exe --connect %1"
</code></pre>

<hr />

<p>To create this subtree automatically you can use <a href="/zan_link_association.reg">this .reg file</a></p>

<p>The last step is to replace the placeholder path with the actual path to your <code>doomseeker.exe</code>. Start the Windows registry editor (<code>regedit.exe</code>) as administrator and navigate to the following path in the registry:</p>

<p><code>Computer\HKEY_CLASSES_ROOT\zan\shell\open\command</code></p>

<p>Double click the <code>(Default)</code> entry to edit the value. Replace <code>PATH_TO_DOOMSEEKER</code> with the path to the doomseeker executable on your system.</p>

<p>The result should look like this (except the path will be different):</p>

<p><img src="/regedit.png" alt="regedit" title="" /></p>

<p>Once the path to doomseeker.exe in the registry is correctly set the <code>zan://</code> links should start working immediately.</p>
